<h1>Home</h1>
<% @rooms.each do |room| %>
  <table>
    <tr>
      <td> Room name: </td>
      <td> <%= room.room_name %> </td>
    </tr>
    <tr>
      <td> Description: </td>
      <td> <%= room.description %> </td>
    </tr>
    <tr>
      <td> Room Details </td>
    </tr>
    <tr>
      <td> Bedrooms: <%= room.bedrooms %> </td>
    </tr>
    <tr>
      <td> Beds: <%= room.beds %> </td>
    </tr>
    <tr>
      <td> <%= link_to "View", room_path(room) %></td>
    </tr>
  </table>
  <br>
<% end %>

