<div class="avatar">
<%= image_tag(current_user.avatar.url(:medium)) %>
</div>
<h1><%= @user.username %></h1>
<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Phone number: <%= @user.phone_number %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Country: <%= @user.country %></p>
<p>Email: <%= @user.email %></p>
<p>About: <%= @user.about %></p>

