<p>
  <strong>Room name:</strong>
  <%= @room.room_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @room.bedrooms %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @room.beds %>
</p>

<div class="row">
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Room Rating: <%= rating_for @room, "room_rating" %>
      <% end %>
  </div>
</div>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=400x300&markers=#{@room.latitude}%2C#{@room.longitude}" %>
<br>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_room_path(@room) %>|
  <%= link_to 'Back', rooms_path %>
<% end %>
