<p id="notice"><%= notice %></p>

<p>
  <strong>Room name:</strong>
  <%= @room.room_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @room.bedrooms %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @room.beds %>
</p>

<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @room, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Cleanliness: <%= rating_for @room, "cleanliness" %>
      <br>
      Location: <%= rating_for @room, "location" %>
      <br>
      Host: <%= rating_for @room, "host" %>
      <br>
      Design: <%= rating_for @room, "design" %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
